// Button Colors
$serra-primary-button-bg: $serra-primary-content;
$serra-primary-button-color: $white;
$serra-primary-button-hover-bg: $shark;
$serra-primary-button-hover-color: $white;
$serra-primary-button-disabled-bg: $ghost;
$serra-primary-button-disabled-color: $white;


// Buttons Colors
$serra-button-bg: $mischka;
$serra-button-color: $serra-primary-content;
$serra-button-disabled-bg: $solitude;
$serra-button-disabled-color: $ghost;
$serra-button-hover-bg: $mischka;
$serra-button-hover-color: $serra-primary-content;