// Panel Colors
$serra-panel-bg: $white;

// Card Colors
$serra-card-bg: $white;
$serra-card-font-color: $serra-primary-content;
$serra-card-border-color: $serra-primary-content;
$serra-card-box-shadow: 0 4px 8px 0 rgba(60, 64, 73, 0.1), 0 0 1px 0 rgba(60, 64, 73, 0.15);
$serra-card-box-shadow-hover: 0 4px 8px 0 rgba(60, 64, 73, 0.1), 0 0 1px 0 rgba(60, 64, 73, 0.15);
$serra-card-content-font-color: $serra-primary-content;