// grid color codes
$serra-grid-row-selection-bg: $serra-selection-light;
$serra-grid-row-selection-color: $shark;
$serra-grid-column-search-bg: $lily-white;
$serra-grid-column-search-color: $santas-gray;

$serra-grid-scrollbar-track: $white;
$serra-grid-scrollbar-thumb: $mischka;
$serra-grid-scrollbar-hover: $santas-gray;

$serra-grid-group-droparea-bg-color: $mischka;
$serra-grid-group-droparea-color: $serra-primary-content;
$serra-grid-grouped-droparea-bg-color: $waterloo;

$serra-grid-toolbar-icon-color: $santas-gray;
$serra-grid-toolbar-icon-active-bg: $athens-gray;
$serra-grid-bulk-action-msg-color: $santas-gray;