$serra-global-navbar-width: 50px;
$serra-power-panel-width: 50px;
$serra-global-navbar-expand-width: 200px;
$serra-power-panel-expand-width: 410px;
$serra-sidenav-transition: 0.5s;
$serra-border-radius: 5px;
$serra-sidebar-icon-container-width: 40px;
$serra-sidebar-icon-container-height: 40px;
$serra-sidebar-icon-container-padding: 0 5px;