// Powerpanel
$serra-power-panel-bg: $white;
$serra-power-panel-icon-color: $santas-gray;
$serra-power-panel-icon-hover-color: $mischka;
$serra-version-details-color: $santas-gray;
$serra-sidebar-active-icon-bg: $razzmatazz;
$serra-bot-icon: $razzmatazz;
$serra-power-panel-widget-border-color: $mischka;
$serra-power-panel-widget-date-color: $shuttle-gray;
$serra-widget-link: $razzmatazz;
$serra-widget-urgent: $razzmatazz;
$serra-power-panel-widget-item-bg: $lily-white;
$serra-widget-icon-color: $santas-gray;
$serra-sidebar-active-icon-color: $white;
$serra-sidebar-scrollbar-thumb: $santas-gray;
$serra-sidebar-scrollbar-hover: $santas-gray;