$serra-sidebar-bg: $solitude-light;
$serra-sidebar-active-icon-bg-color: $razzmatazz;
$serra-sidebar-active-icon-color: $white;
$serra-sidebar-hover-item-bg: $mischka;
$serra-sidebar-submenu-color: #838a99;
$serra-sidebar-scrollbar-track: #f1f1f1;
$serra-sidebar-scrollbar-thumb: $santas-gray;
$serra-sidebar-scrollbar-hover: $santas-gray;