$input-skin-name: 'material';
$zero-value: 0;
$one-value: 1px;
$input-child-padding-bottom: $zero-value;
$input-child-small-bigger-padding-bottom: $zero-value;
$input-child-small-padding-bottom: $zero-value;
$input-child-bigger-padding-bottom: $zero-value;
$input-group-full-border: $border-size $border-type;
$input-child-small-bigger-padding-top: $zero-value;
$input-child-small-padding-top: $zero-value;
$input-child-padding-top: $zero-value;
$input-child-bigger-padding-top: $zero-value;
$input-success-color: $success-font-color;
$input-warning-color: $warning-font-color;
$input-error-color: $error-font-color;
$input-disable-bg-color: transparent;
$input-active-bg-color: $active-bg-color;
$input-active-font-color: $active-font-color;
$input-press-font-color: $active-font-color;

$input-box-border-radius: $zero-value;
$input-group-child-border-width: $zero-value;
$input-bg-color: transparent;
$input-font-size: 13px;
$input-bigger-font-size: 14px;
$input-small-font-size: 12px;
$input-bigger-small-font-size: 13px;
$input-padding: 4px $zero-value 4px;
$textarea-padding: 4px $zero-value 4px;
$textarea-bigger-padding: 5px $zero-value 5px;
$textarea-small-padding: 4px $zero-value 4px;
$textarea-bigger-small-padding: 4px $zero-value 4px;
$textarea-min-height: 15px;
$textarea-bigger-min-height: 17px;
$textarea-bigger-small-min-height: 15px;
$textarea-small-min-height: 14px;
$float-input-padding: 4px $zero-value 4px;
$float-label-padding: $zero-value;
$float-input-wrap-padding-top: $zero-value;
$input-padding-bottom: 4px;
$input-focus-padding-bottom: 3px;
$input-clear-icon: 12px;
$input-bigger-clear-icon: 12px;
$input-small-clear-icon: 10px;
$input-bigger-small-clear-icon: 12px;
$input-clear-icon-padding: $zero-value;
$input-clear-icon-position: center;
$input-bigger-padding: 5px $zero-value 5px;
$float-input-bigger-padding: 5px $zero-value 5px;
$float-input-bigger-wrap-padding-top: $zero-value;
$input-bigger-padding-bottom: 5px;
$input-focus-bigger-padding-bottom: 4px;
$input-child-padding: $zero-value;
$input-child-min-height: 18px;
$input-child-min-width: 18px;
$input-bigger-child-padding: $zero-value;
$input-bigger-child-min-height: 20px;
$input-bigger-child-min-width: 20px;
$input-margin-bottom: 4px;
$input-bigger-margin-bottom: 8px;
$input-small-margin-bottom: 4px;
$input-small-bigger-margin-bottom: 4px;
$input-margin-top: 16px;
$input-bigger-margin-top: 17px;
$input-small-margin-top: 16px;
$input-small-bigger-margin-top: 17px;
$input-small-padding: 4px $zero-value 4px;
$float-input-small-padding: 4px $zero-value 4px;
$float-input-small-wrap-padding-top: $zero-value;
$input-small-padding-bottom: 4px;
$input-focus-small-padding-bottom: 3px;
$input-bigger-small-padding: 4px $zero-value 4px;
$float-input-bigger-small-padding: 4px $zero-value 4px;
$float-input-bigger-small-wrap-padding-top: $zero-value;
$input-bigger-small-padding-bottom: 4px;
$input-focus-bigger-small-padding-bottom: 3px;
$input-bigger-small-child-padding: $zero-value;
$input-bigger-small-child-min-height: 18px;
$input-bigger-small-child-min-width: 18px;
$input-small-child-padding: $zero-value;
$input-small-child-min-height: 16px;
$input-small-child-min-width: 16px;
$input-font-family: $font-family;
$input-font-style: normal;
$input-font-normal: normal;
$input-border: $zero-value $border-type;
$float-input-border: $zero-value $border-type;
$input-box-border-width: $zero-value $zero-value $one-value $zero-value;
$float-input-border-width: $zero-value $zero-value $one-value $zero-value;
$input-focus-border-width: $zero-value $zero-value 2px $zero-value;
$input-box-border-color: rgba($grey-light-font, .42);
$input-font-color: $serra-primary-content;
$input-icon-font-color: rgba($grey-black, .54);
$input-clear-icon-color: rgba($grey-light-font, .54);
$input-clear-icon-hover-color: rgba($grey-light-font, .54);
$input-error-color: $error-font;
$input-accent: $accent;
$input-placeholder: rgba($grey-light-font, .42);
$input-active-border-color: $accent;
$input-group-active-border-color: transparent;
$input-disable-border-type: dashed;
$input-disable-border-color: $input-box-border-color;
$input-disabled-group-bg-color: transparent;
$input-border-left-width: $zero-value;
$input-group-active-border: transparent;
$input-group-border: 1px $border-type;
$input-group-border-width: $zero-value;
$input-group-border-radius: 2px;
$input-group-pressed-bg: transparent;
$input-hover-bg-color:  $grey-200;
$input-active-accent-color: $accent;
$input-valid-group-border-width: 2px;
$input-header-font-color: rgba($grey-light-font, .42);
$input-child-margin-bottom: 4px;
$input-child-margin-right: 4px;
$input-child-margin-top: 4px;
$float-input-child-margin-top: 2px;
$input-child-small-bigger-margin-bottom: 4px;
$input-child-small-bigger-margin-right: 4px;
$input-child-small-bigger-margin-top: 4px;
$float-input-child-small-bigger-margin-top: 4px;
$input-child-small-margin-bottom: 4px;
$input-child-small-margin-right: 4px;
$input-child-small-margin-top: 4px;
$float-input-child-small-margin-top: 4px;
$input-child-bigger-margin-bottom: 5px;
$input-child-bigger-margin-right: 8px;
$input-child-bigger-margin-top: 6px;
$float-input-child-bigger-margin-top: 6px;
$input-disable-group-border-width: $zero-value $zero-value $one-value $zero-value;
$input-opacity: 1;
$input-opacity-filter: 100;
$input-group-border-width-focus: $zero-value $zero-value $one-value $zero-value;;
$input-group-border-type-focus: $border-type;
$input-group-border-color-focus: $input-box-border-color;
$input-group-border-color-hover: $input-box-border-color;
$input-group-border-width-hover: 1px;
$input-group-border-right-focus: transparent;
$input-group-border-left-focus: transparent;
$input-group-full-border-color: $input-box-border-color;
$input-group-full-border-width: $zero-value $zero-value $one-value $zero-value;
$input-group-success-color: $input-success-color;
$input-group-warning-color: $input-warning-color;
$input-group-error-color: $input-error-color;
$input-valid-border-bottom-width: 2px;
$input-group-pressed-color: rgba($grey-black, .54);
$input-select-font-color: $grey-dark-font;
$input-right-border-width: $zero-value;
$input-text-indent: $zero-value;
$input-small-text-indent: $zero-value;
$input-bigger-text-indent: $zero-value;
$input-small-bigger-text-indent: $zero-value;
$input-disable-font-color: rgba($grey-light-font, .42);
$float-label-font-color: rgba($grey-light-font, .54);
$float-label-disbale-font-color: $input-disable-font-color;
$float-label-font-size: 13px;
$float-label-bigger-font-size: 14px;
$float-label-small-font-size: 12px;
$float-label-bigger-small-font-size: 13px;
$float-placeholder-font-size: 13px;
$float-placeholder-bigger-font-size: 14px;
$float-placeholder-small-font-size: 12px;
$float-placeholder-bigger-small-font-size: 13px;
$input-border-size: 1px;
$input-normal-height: 32px - $input-border-size;
$input-bigger-height: 40px - $input-border-size;
$input-small-height: 26px - $input-border-size;
$input-bigger-small-height: 36px - $input-border-size;
$float-input-normal-height: 32px;
$float-input-bigger-height: 40px;
$float-input-small-height: 26px;
$float-input-bigger-small-height: 36px;
$input-full-height: 100%;
$textarea-normal-height: auto;
$textarea-bigger-height: auto;
$textarea-small-height: auto;
$textarea-bigger-small-height: auto;
$textarea-full-height: 100%;
$input-group-disabled-color: rgba($grey-light-font, .26);
$input-group-hovered-color: $input-icon-font-color;
$input-icon-font-size: 12px;
$input-bigger-icon-font-size: 12px;
$input-small-icon-font-size: 12px;
$input-bigger-small-icon-font-size: 12px;
$input-inner-wrap-margin-left: 16px;
$input-clear-icon-padding-bottom: 4px;
$input-clear-icon-padding-right: 4px;
$input-clear-icon-padding-top: 4px;
$float-input-clear-icon-padding-top: 4px;
$input-clear-icon-small-bigger-padding-bottom: 4px;
$input-clear-icon-small-bigger-padding-right: 4px;
$input-clear-icon-small-bigger-padding-top: 4px;
$float-input-clear-icon-small-bigger-padding-top: 4px;
$input-clear-icon-small-padding-bottom: 4px;
$input-clear-icon-small-padding-right: 4px;
$input-clear-icon-small-padding-top: 4px;
$float-input-clear-icon-small-padding-top: 4px;
$input-clear-icon-bigger-padding-bottom: 5px;
$input-clear-icon-bigger-padding-right: 8px;
$input-clear-icon-bigger-padding-top: 6px;
$float-input-clear-icon-bigger-padding-top: 6px;
$input-clear-icon-min-height: 18px;
$input-clear-icon-min-width: 18px;
$input-bigger-clear-icon-min-height: 20px;
$input-bigger-clear-icon-min-width: 20px;
$input-bigger-small-clear-icon-min-height: 18px;
$input-bigger-small-clear-icon-min-width: 18px;
$input-small-clear-icon-min-height: 16px;
$input-small-clear-icon-min-width: 16px;
$input-smaller-min-height: 16px;
$textarea-smaller-min-height: 18px;
$input-min-height: 19px;
$textarea-min-height: 23px;
$input-bigger-min-height: 23px;
$input-bigger-smaller-min-height: 19px;

$input-left-icon-font-size: 20px;
$input-bigger-left-icon-font-size: 20px;
$input-small-left-icon-font-size: 20px;
$input-bigger-small-left-icon-font-size: 20px;
$input-left-child-min-height: 30px;
$input-left-child-min-width: 30px;
$input-bigger-left-child-min-height: 32px;
$input-bigger-left-child-min-width: 32px;
$input-small-left-child-min-height: 28px;
$input-small-left-child-min-width: 28px;
$input-bigger-small-left-child-min-height: 30px;
$input-bigger-small-left-child-min-width: 30px;
$input-icon-inner-width: 10px;
$input-icon-inner-height: 10px;
$input-readonly-bg-color: none;;

// Outline textbox

$outline-border-color: rgba($grey-black, .24);
$outline-input-font-color: rgba($grey-light-font, .87);
$outline-input-label-font-color: rgba($grey-light-font, .54);
$outline-input-font-size: 14px;
$outline-hover-border-color: rgba($grey-black, .87);
$outline-active-input-border: 1px;
$outline-input-padding-left: 12px;
$outline-input-padding-top: 10px;
$outline-input-padding-bottom: 9px;
$outline-input-min-height: 38px;
$outline-input-icon-margin-left: $zero-value;
$outline-input-icon-margin-right: 12px;
$outline-small-input-min-height: 34px;
$outline-small-input-padding-left: 10px;
$outline-small-input-padding-top: 7px;
$outline-small-input-icon-margin-left: 10px;
$outline-small-input-icon-margin-right: 6px;
$outline-bigger-input-min-height: 54px;
$outline-bigger-input-icon-margin-left: 16px;
$outline-bigger-input-icon-margin-right: 8px;
$outline-bigger-input-padding-left: 16px;
$outline-bigger-input-padding-top: 15px;
$outline-small-bigger-input-min-height: 38px;
$outline-small-bigger-input-margin-top: 10px;
$outline-small-bigger-input-margin-bottom: 9px;
$outline-small-bigger-input-margin-left: 12px;
$outline-small-bigger-icon-margin-left: 12px;
$outline-small-bigger-icon-margin-right: 8px;
$outline-input-border: $zero-value;
$outline-input-group-border-width: $zero-value;
$outline-disabled-border-color: rgba($grey-black, .06);
$outline-float-label-top: -7px;
$outline-label-before-element-margin-top: 6px;
$outline-wrapper-border-infocused: 2px;
$outline-label-min-width: 9px;
$outline-small-label-min-width: 7px;
$outline-bigger-label-min-width: 13px;
$outline-bigger-small-label-min-width: 9px;
$outline-label-height: 8px;
$outline-label-margin: 4px;
$outline-label-border-radius: 5px;
$outline-label-before-left: -1px;
$outline-label-after-left: 2px;
$outline-input-icon-padding-top-bottom: 9px;
$outline-input-icon-font-size: 16px;
$outline-input-clear-icon-font-size: 16px;
$outline-floating-label-font-size: 12px;
$outline-bigger-input-font-size: 16px;
$outline-bigger-input-icon-padding: 15px;
$outline-bigger-input-icon-font-size: 20px;
$outline-bigger-clear-icon-font-size: 20px;
$outline-small-bigger-input-label-font-size: 12px;
$outline-small-bigger-input-icon-font-size: 18px;
$outline-small-bigger-clear-icon-font-size: 18px;
$outline-label-font-color-with-value: rgba($grey-light-font, .6);
$outline-valid-input-font-size: 14px;
$outline-label-default-line-height: 13px;
$outline-label-before-left-rtl: 5px;
$outline-label-after-left-rtl: -6px;
$outline-label-line-height: 50px;
$outline-bigger-label-line-height: 70px;
$outline-small-bigger-label-line-height: 53px;
$outline-small-label-line-height: 46px;
$outline-textarea-label-line-height: 50px;
$outline-valid-textarea-font-size: 14px;
$outline-textarea-small-label-line-height: 60px;
$outline-textarea-bigger-label-line-height: 66px;
$outline-textarea-small-bigger-label-line-height: 60px;
$outline-textarea-margin-top: 8px;
$outline-small-textarea-margin-top: 8px;
$outline-bigger-textarea-maring-top: 8px;
$outline-small-input-font-size: 13px;
$outline-small-input-icon-font-size: 14px;
$outline-small-clear-icon-font-size: 14px;
$outline-small-label-font-size: 11px;
$outline-bigger-label-font-size: 12px;
$outline-small-bigger-input-font-size: 14px;
$outline-small-bigger-label-font-size: 12px;
$outline-bigger-small-group-icon-top: 9px;
$outline-bigger-small-group-icon-bottom: 9px;
$outline-input-small-clear-icon: 14px;
$outline-input-clear-icon: 16px;
$outline-input-bigger-clear-icon: 20px;
$outline-input-bigger-small-clear-icon: 18px;
$outline-input-clear-icon-hover-color: rgba($grey-light-font, .87);
$outline-input-clear-icon-active-color: rgba($grey-light-font, .87);

$outline-float-label-font-size: 14px;
$bigger-outline-float-label-font-size: 16px;
$bigger-small-outline-float-label-font-size: 14px;
$small-outline-float-label-font-size: 13px;
$outline-float-label-disbale-font-color: rgba($grey-light-font, .38);
$outline-disabled-input-font-color: rgba($grey-light-font, .38);
$outline-input-group-disabled-color: rgba($grey-light-font, .38);

@mixin input-sizing {
  box-sizing: content-box;
}
@mixin input-height ($height) {
  content: '';
}
@mixin input-state-color ($color) {
  border-bottom-color: $color;
}
@mixin input-selection {
  background: $input-accent;
  color: $accent-font;
}
@mixin float-label-alignment {
  content: '';
}

// sass-lint:disable no-vendor-prefixes
@mixin input-group-animation {
  -moz-transition: .2s cubic-bezier(.4, 0, .4, 1);
  bottom: 0;
  content: '';
  height: 2px;
  position: absolute;
  transition: .2s cubic-bezier(.4, 0, .4, 1);
  width: 0;
}
@mixin input-group-animation-left {
  left: 50%;
}
@mixin input-group-animation-width {
  width: 50%;
}
@mixin input-group-animation-right {
  right: 50%;
}
@mixin input-group-animation-bg {
  background: $input-active-border-color;
}
@mixin input-group-hover-bg {
  background: $input-group-border-color-hover;
}
@mixin input-group-success-animation-bg {
  background: $input-success-color;
}
@mixin input-group-warning-animation-bg {
  background: $input-warning-color;
}
@mixin input-group-error-animation-bg {
  background: $input-error-color;
}
@mixin input-ripple-parent {
  position: relative;
}
@mixin input-ripple-style {
  background: $grey-400;
  border-radius: 100%;
  content: '';
  display: block;
  filter: alpha(opacity=75);
  height: 50%;
  left: 25%;
  opacity: .75;
  position: absolute;
  top: 25%;
  transform: scale(0);
  width: 50%;
}
@mixin input-ripple-animation {
  animation: e-input-ripple .45s linear;
}
@keyframes e-input-ripple {
  100% {
    opacity: 0;
    transform: scale(4);
   }
 }

//Filled input configuration
$filled-input-font-size: 14px;
$bigger-filled-input-font-size: 16px;
$bigger-small-filled-input-font-size: 14px;
$small-filled-input-font-size: 13px;
$filled-float-label-font-size: 14px;
$bigger-filled-float-label-font-size: 16px;
$bigger-small-filled-float-label-font-size: 14px;
$small-filled-float-label-font-size: 13px;
$filled-input-clear-icon-size: 16px;
$bigger-filled-input-clear-icon-size: 20px;
$bigger-small-filled-input-clear-icon-size: 18px;
$small-filled-input-clear-icon-size: 14px;
$filled-input-icon-size: 16px;
$bigger-filled-input-icon-size: 20px;
$bigger-small-filled-input-icon-size: 18px;
$small-filled-input-icon-size: 14px;

$filled-float-input-wrapper-padding: $zero-value 10px $zero-value 12px;
$bigger-filled-float-input-wrapper-padding: $zero-value 12px $zero-value 16px;
$bigger-small-filled-float-input-wrapper-padding: $zero-value 10px $zero-value 12px;
$small-filled-float-input-wrapper-padding: $zero-value 6px $zero-value 8px;

$filled-float-input-wrapper-rtl-padding: $zero-value 12px $zero-value 10px;
$bigger-filled-float-input-wrapper-rtl-padding: $zero-value 16px $zero-value 12px;
$bigger-small-filled-float-input-wrapper-rtl-padding: $zero-value 12px $zero-value 10px;
$small-filled-float-input-wrapper-rtl-padding: $zero-value 8px $zero-value 6px;

$filled-wrapper-padding: $zero-value 10px $zero-value 12px;
$bigger-filled-wrapper-padding: $zero-value 12px $zero-value 16px;
$bigger-small-filled-wrapper-padding: $zero-value 10px $zero-value 12px;
$small-filled-wrapper-padding: $zero-value 6px $zero-value 8px;

$filled-wrapper-rtl-padding: $zero-value 12px $zero-value 10px;
$bigger-filled-wrapper-rtl-padding: $zero-value 16px $zero-value 12px;
$bigger-small-filled-wrapper-rtl-padding: $zero-value 12px $zero-value 10px;
$small-filled-wrapper-rtl-padding: $zero-value 8px $zero-value 6px;

$filled-wrapper-margin: $zero-value;

$filled-input-padding: 10px 2px 10px $zero-value;
$filled-bigger-input-padding: 16px 4px 16px $zero-value;
$filled-bigger-small-input-padding: 10px 2px 10px $zero-value;
$filled-small-input-padding: 7px 2px 7px $zero-value;

$filled-input-rtl-padding: 10px $zero-value 10px 2px;
$filled-bigger-input-rtl-padding: 16px $zero-value 16px 4px;
$filled-bigger-small-input-rtl-padding: 10px $zero-value 10px 2px;
$filled-small-input-rtl-padding: 7px $zero-value 7px 2px;

$filled-input-padding-bottom: 10px;
$filled-bigger-input-padding-bottom: 16px;
$filled-bigger-small-input-padding-bottom: 10px;
$filled-small-input-padding-bottom: 7px;

$filled-float-input-padding: 14px 2px 5px $zero-value;
$filled-bigger-float-input-padding: 20px 4px 6px $zero-value;
$filled-bigger-small-float-input-padding: 14px 2px 5px $zero-value;
$filled-small-float-input-padding: 12px 2px 4px $zero-value;

$filled-float-input-rtl-padding: 14px $zero-value 5px 2px;
$filled-bigger-float-input-rtl-padding: 20px $zero-value 6px 4px;
$filled-bigger-small-float-input-rtl-padding: 14px $zero-value 5px 2px;
$filled-small-float-input-rtl-padding: 12px $zero-value 4px 2px;

$filled-textarea-padding: $zero-value 12px 10px;
$filled-bigger-textarea-padding: $zero-value 16px 16px;
$filled-bigger-small-textarea-padding: $zero-value 12px 10px;
$filled-small-textarea-padding: $zero-value 8px 7px;

$filled-float-textarea-padding: $zero-value 12px 5px;
$filled-bigger-float-textarea-padding: $zero-value 16px 5px;
$filled-bigger-small-float-textarea-padding: $zero-value 12px 5px;
$filled-small-float-textarea-padding: $zero-value 8px 4px;

$filled-textarea-wrapper-padding: 10px $zero-value $zero-value;
$bigger-filled-textarea-wrapper-padding: 16px $zero-value $zero-value;
$bigger-small-filled-textarea-wrapper-padding: 10px $zero-value $zero-value;
$small-filled-textarea-wrapper-padding: 7px $zero-value $zero-value;

$filled-float-textarea-wrapper-padding: 14px $zero-value $zero-value;
$bigger-filled-float-textarea-wrapper-padding: 20px $zero-value $zero-value;
$bigger-small-filled-float-textarea-wrapper-padding: 14px $zero-value $zero-value;
$small-filled-float-textarea-wrapper-padding: 12px $zero-value $zero-value;

$filled-input-label-top: 12px;
$bigger-filled-input-label-top: 18px;
$bigger-small-filled-input-label-top: 12px;
$small-filled-input-label-top: 10px;
$filled-input-label-top-after-floating: 12px;
$bigger-filled-input-label-top-after-floating: 18px;
$bigger-small-filled-input-label-top-after-floating: 12px;
$small-filled-input-label-top-after-floating: 10px;
$filled-input-label-left: 12px;
$bigger-filled-input-label-left: 16px;
$bigger-small-filled-input-label-left: 12px;
$small-filled-input-label-left: 8px;
$filled-input-label-initial-transform: none;
$filled-input-label-line-height: 1.2;
$bigger-filled-input-label-line-height: 1.25;
$small-filled-input-label-line-height: 1.2;
$bigger-small-filled-input-label-line-height: 1.25;
$filled-input-label-width: auto;

$filled-default-input-min-height: 39px;
$bigger-filled-default-input-min-height: 55px;
$bigger-small-filled-default-input-min-height: 39px;
$small-filled-default-input-min-height: 35px;

$filled-input-min-height: 39px;
$bigger-filled-input-min-height: 55px;
$bigger-small-filled-input-min-height: 39px;
$small-filled-input-min-height: 35px;

$filled-input-icon-min-height: 20px;
$bigger-filled-input-icon-min-height: 24px;
$bigger-small-filled-input-icon-min-height: 20px;
$small-filled-input-icon-min-height: 18px;

$filled-input-left-icon-min-height: 20px;
$bigger-filled-input-left-icon-min-height: 24px;
$bigger-small-filled-input-left-icon-min-height: 20px;
$small-filled-input-left-icon-min-height: 18px;

$filled-input-left-icon-min-width: 20px;
$bigger-filled-input-left-icon-min-width: 24px;
$bigger-small-filled-input-left-icon-min-width: 20px;
$small-filled-input-left-icon-min-width: 18px;

$filled-input-bg-color: $grey-100;
$filled-input-overlay-bg-color: rgba($grey-black, .87);
$filled-input-overlay-focused-bg-color: #ececec;
$filled-input-overlay-activated-bg-color: #dcdcdc;
$background-color-transition: opacity 15ms linear,
background-color 15ms linear;
$filled-input-hover-border-color: rgba($grey-black, .87);
$filled-input-float-label-color: rgba($grey-light-font, .6);
$filled-input-disabled-font-color: rgba($grey-light-font, .38);
$filled-input-disabled-bg-color: $grey-50;
$filled-input-disabled-border-color: rgba($grey-black, .06);
$filled-input-clear-icon-hover-color: rgba($grey-light-font, .87);
$filled-input-clear-icon-active-color: rgba($grey-light-font, .87);