$primary: $serra-primary-content;
$primary-font:#fff;
$accent: $serra-primary-content;
$accent-font:#fff;

$primary-50: lighten($primary, 38%);
$primary-100: lighten($primary, 31%);
$primary-200: lighten($primary, 19%);
$primary-300: lighten($primary, 8%);
$primary-50-font: #000;
$primary-100-font: #000;
$primary-200-font: #000;
$primary-300-font: #fff;
$grey-white: #fff;
$grey-black: #000;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;
$grey-dark: #303030;
$grey-light-font: #000;
$grey-dark-font: #fff;
$base-font: #000;
$error-font: $serra-danger;
$shadow: #000;

$font-size: 12px;
$font-weight: normal;
$font-path: 'common-images';
$header-bg-color: $grey-white;
$header-gradient-color: none;
$header-border-color: $grey-black;
$header-font-color: $grey-light-font;
$header-icon-color: $grey-light-font;
$content-bg-color: $grey-white;
$content-border-color: $grey-black;
$content-font-color: $grey-light-font;
$default-bg-color: $grey-white;
$default-gradient-color: none;
$default-border-color: $grey-black;
$default-font-color: $grey-light-font;
$default-icon-color: $grey-light-font;
$hover-bg-color: $grey-200;
$hover-gradient-color: none;
$hover-border-color: $grey-black;
$hover-font-color: $grey-light-font;
$hover-icon-color: $grey-light-font;
$active-bg-color: $grey-100;
$active-gradient-color: none;
$active-border-color: $grey-black;
$active-font-color: $grey-light-font;
$active-icon-color: $grey-light-font;
$error-font-color: $error-font;
$warning-font-color: $serra-warn;
$success-font-color: $serra-success;
$information-font-color: $serra-info;
$overlay-bg-color: #383838;
$shadow-color: rgba(0, 0, 0, .4);
$border-size: 1px;
$border-type: solid;
$border-radius: 0;
$border-left-radius: 0;
$border-right-radius: 0;
$border-top-radius: 0;
$border-bottom-radius: 0;