$cbox-bgcolor: #fff;
$cbox-bigger-check-fontsize: 16px;
$cbox-bigger-font-size: 14px;
$cbox-bigger-height: 22px;
$cbox-bigger-indeterminate-fontsize: 12px;
$cbox-bigger-indeterminate-lineheight: 14px;
$cbox-bigger-lineheight: 14px;
$cbox-bigger-margin: 12px;
$cbox-bigger-small-check-fontsize: 12px;
$cbox-bigger-small-font-size: 14px;
$cbox-bigger-small-height: 20px;
$cbox-bigger-small-indeterminate-fontsize: 10px;
$cbox-bigger-small-indeterminate-lineheight: 12px;
$cbox-bigger-small-lineheight: 12px;
$cbox-bigger-small-width: 20px;
$cbox-bigger-width: 22px;
$cbox-border: 2px solid;
$cbox-border-color: $grey-600;
$cbox-border-radius: 2px;
$cbox-check-fontsize: 12px;
$cbox-checked-ripple-bgcolo: rgba($accent, .26);
$cbox-checkmark-bgcolor: $accent;
$cbox-checkmark-border-color: transparent;
$cbox-checkmark-color: $accent-font;
$cbox-checkmark-disabled-bgcolor: $grey-400;
$cbox-checkmark-disabled-border-color: $grey-400;
$cbox-checkmark-disabled-color: $grey-dark-font;
$cbox-checkmark-hover-bgcolor: $accent;
$cbox-checkmark-hover-border-color: transparent;
$cbox-checkmark-hover-color: $accent-font;
$cbox-color: rgba($grey-light-font, .87);
$cbox-disabled-bgcolor: #fff;
$cbox-disabled-border-color: $grey-400;
$cbox-disabled-color: $grey-400;
$cbox-focus-outline: $cbox-bgcolor 0 solid;
$cbox-focus-outline-offset: 0;
$cbox-focussed-bgcolor: #fff;
$cbox-focussed-border-color: $grey-600;
$cbox-focussed-box-shadow: none;
$cbox-focussed-checkmark-bgcolor: $accent;
$cbox-focussed-checkmark-border-color: transparent;
$cbox-focussed-checkmark-color:  $accent-font;
$cbox-focussed-color: rgba($grey-light-font, .87);
$cbox-focussed-indeterminate-color: $grey-600;
$cbox-font-size: 13px;
$cbox-height: 18px;
$cbox-hover-bgcolor: #fff;
$cbox-hover-border-color: $grey-600;
$cbox-hover-color: rgba($grey-light-font, .87);
$cbox-indeterminate-bgcolor: #fff;
$cbox-indeterminate-border-color: $grey-600;
$cbox-indeterminate-color: $grey-600;
$cbox-indeterminate-content: '\e934';
$cbox-indeterminate-disabled-bgcolor: #fff;
$cbox-indeterminate-disabled-border-color: $grey-400;
$cbox-indeterminate-disabled-color: $grey-400;
$cbox-indeterminate-fontsize: 10px;
$cbox-indeterminate-hover-color: $grey-600;
$cbox-indeterminate-lineheight: 10px;
$cbox-key-focussed-bgcolor: rgba($grey-black, .12);
$cbox-lineheight: 10px;
$cbox-margin: 10px;
$cbox-padding: 2px 0;
$cbox-ripple-bgcolor: rgba($grey-black, .26);
$cbox-ripple-bigger-size: -9px;
$cbox-ripple-bigger-small-size: -9px;
$cbox-ripple-size: -9px;
$cbox-ripple-small-size: -9px;
$cbox-ripple-height: 36px;
$cbox-ripple-width: 36px;
$cbox-ripple-small-height: 32px;
$cbox-ripple-small-width: 32px;
$cbox-ripple-bigger-small-height: 38px;
$cbox-ripple-bigger-small-width: 38px;
$cbox-ripple-bigger-height: 40px;
$cbox-ripple-bigger-width: 40px;
$cbox-small-check-fontsize: 10px;
$cbox-small-font-size: 13px;
$cbox-small-height: 14px;
$cbox-small-indeterminate-fontsize: 8px;
$cbox-small-indeterminate-lineheight: 6px;
$cbox-small-lineheight: 6px;
$cbox-small-width: 14px;
$cbox-width: 18px;
$cbox-border-style: solid;