.serrala-grid {
    ejs-grid {
        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: $serra-grid-scrollbar-track;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $serra-grid-scrollbar-thumb;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: $serra-grid-scrollbar-hover;
        }

        .e-gridheader, .e-gridfooter {
            padding-right: 5px !important;
        }

        .e-sortnumber {
            margin: 8px 12px 0 2px;
        }

        .e-frozenheader > .e-table,
        .e-frozencontent > .e-table,
        .e-frozencontent .e-virtualtable > .e-table,
        .e-frozenheader .e-virtualtable > .e-table {
            border-right: 2px solid $ghost;
        }

        table.e-table {
            tr.e-filterbar {
                th.e-filterbarcell {
                    background-color: $serra-grid-column-search-bg;
                    color: $serra-grid-column-search-color;
                }
            }
            tr th:last-child.e-filterbarcell  {
                padding-right: 20px;
            }
            tbody {
                tr.e-row {
                    td.e-row-anomalies:first-child {
                        border-left: 3px solid $razzmatazz;
                    }
                    td.e-cell-anomalies {
                        background: #ffe5f4;
                    }
                    td.e-active:first-child {
                        border-left: 3px solid $shark;
                    }
                    td.e-row-modified {
                        background-color: $zumthor;
                    }
                }
            }
            thead {
                tr.e-filterbar {
                    th.e-filterbarcell {
                        .e-filterdiv {
                            span.e-input-group {
                                border: none;
                                font-size: 14px;
                                padding: 0px;
                                input.e-inpput::placeholder {
                                    color:$santas-gray;
                                    letter-spacing: $serra-letter-spacing;
                                }
                                &::before, &::after {
                                    background: none;
                                    transition: none;
                                }
                            }
                        }
                    }
                }
                tr.e-columnheader {
                    th.e-headercell {
                        &.e-column-anomalies {
                            border-top: 3px solid $razzmatazz;
                        }
                    }
                }
            }
            tfoot {
                .e-summaryrow {
                    td {
                        background: $white;
                        border-bottom: 1px solid #e0e0e0;
                    }
                }
                tr {
                    td .sum-of-txn {
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 1.25;
                        color: $serra-primary-content;
                    }
                }
            }
            .action-column-cell {
                overflow: unset;
            }
        }


        &.datagrid{
            .e-headertext{
                font-size: 12px;
                font-style: normal;
                color: $serra-primary-content;
                text-align: left;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
                letter-spacing: 0.2px;
            }

            .e-headercell{
             &:hover{
                 z-index: 4;
             }
            }

            .e-rowcell{
                height: 40px;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.14;
                letter-spacing: 0.2px;
                font-family: 'NotoSans';
                color: $serra-primary-content;
                padding: 10px;
            }

         .actions {
            justify-content: space-around;
            align-items: center;
            width: 100px;
            max-width: 100px;
            margin: auto;
             .save-btn {
                 display: none;
             }
             i, em {
                cursor: pointer;
                color: $serra-grid-toolbar-icon-color;
                font-size: 18px;
             }
             .se-check-circle {
                 font-size: 18px;
                 color: $success;
             }
             .se-view{
                 font-size: 20px;
             }
             .se-edit {
               font-size: 20px;
             }
             .se-delete{
               font-size: 20px;
             }
             button.more-btn {
                 background-color: transparent;
                 padding: 0px;
                 min-width: 20px;
                 display: flex;

                .se-more-hori {
                    font-size: 20px;
                }
             }
             .disable-btn {
                 pointer-events:none;
                 i, em {
                     color: $ghost;
                 }
             }
         }
         .inline-edit-form-row td {
             vertical-align: top;
         }
         .e-editedrow {
             .actions {
                 .edit-btn {
                     display: none;
                 }
                 .save-btn {
                     display: block;
                     padding: 5px;
                     background: $serra-primary-content;
                     color: $white;
                     i, em {
                         color: $white;
                     }
                }
                
             }
         }

         .e-toolbar {
             padding: 3px 0;
             .e-toolbar-items {
                min-height: 42px;
            }
         }

         .toolbar {
             input {
                 border: none;
                 margin-left: 1rem;
                 height: 100%;
                 background: transparent;
                 width: 300px;
                 &::placeholder {
                    color: $santas-gray;
                    letter-spacing: $serra-letter-spacing;
                 }
             }
            
             .bulk-actions {

                padding: 0px 12px;
                .action-btns {
                    font-size: 12px;
                    line-height: 1.33;

                }
                .bulk-select-msg {
                    color: $serra-grid-bulk-action-msg-color;
                }
                .dot-circle {
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: $blue-ribbon;
                    display: block;
                    margin-top: 2px;
                }
             }

             .icon {
                margin-left: auto;
                font-size: 22px;
                color: $serra-grid-toolbar-icon-color;
                div.icon-item {
                    margin-right: 12px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    &.active {
                        i, em {
                            background-color: $serra-grid-toolbar-icon-active-bg;
                        }
                    }
                    i, em {
                        padding: 4px;
                        border-radius: 5px;
                        &:hover, &:focus {
                            background-color: $serra-grid-toolbar-icon-active-bg;
                        }
                    }
                    &.icon-excel, &.icon-pdf {
                        margin-top: -2px;
                        border-radius: 5px;
                        &:hover, &:focus {
                            background-color: $serra-grid-toolbar-icon-active-bg;
                        }
                    }
                    .download-icon-btn {
                        background: transparent;
                        height: 27px;
                        color: $serra-grid-toolbar-icon-color;
                    }
                    .e-excelexport, .e-pdfexport {
                        font-size: 18px;
                    }
                }
             }

             &.right-toolbar-items {
                .disabled-btn {
                    color: $ghost;
                    cursor: default;
                    &:hover {
                        background-color: transparent !important;
                    }
                 }
             }
         }


         }
        .status-circle {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 12px;
            &.blue-circle {
                background-color: $malibu;
            }
            &.green-circle {
                background-color: $granny-smith-apple;
            }
            &.yellow-circle {
                background-color: $kournikova;
            }
            &.red-circle {
                background-color: $deep-blush;
            }
            &.pink-circle {
                background-color: $cranberry-pink;
            }
            &.indigo-circle {
                background-color: $indigo;
            }
            &.aquamarine-circle {
                background-color: $aquamarine;
            }
        }

        .e-checkbox-wrapper.e-css {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: initial;
        }
    }
    .status-message-dialog {
        border: solid 1px $mischka;
        .e-dlg-header-content {
          padding: 24px;
          .e-dlg-header {
            font-weight: bold;
          }
        }
        .e-dlg-content {
          padding: 0 24px 24px 24px;
        }
      }
}
