.e-tooltip-wrap {
    border-radius: 4px;
    opacity: 1;
    .header {
        font-size: 14px;
        font-weight: bold;
    }
    .content {
        font-size: 12px;
    }
}

.e-tooltip-wrap {
    background-color: $white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(60, 64, 73, 0.1), 0 0 1px 0 rgba(60, 64, 73, 0.15);
}

.e-tooltip-wrap .e-tip-content {
    color: $bright-gray;
    font-size: 12px;
    line-height: 20px;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(60, 64, 73, 0.1), 0 0 1px 0 rgba(60, 64, 73, 0.15);
}

.e-tooltip-wrap .e-arrow-tip-outer.e-tip-bottom {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $white;
}

.e-tooltip-wrap .e-arrow-tip-inner .e-tip-bottom {
    color: $white !important;
}

.e-tooltip-wrap .e-arrow-tip-inner.e-tip-right, .e-tooltip-wrap .e-arrow-tip-inner.e-tip-left, .e-tooltip-wrap .e-arrow-tip-inner.e-tip-bottom, .e-tooltip-wrap .e-arrow-tip-inner.e-tip-top {
    color: $white !important;
}