$serra-default-font-family: "NotoSans" !default;
$font-family: $serra-default-font-family;
$serra-label-line-height: 1.62;
$serra-letter-spacing: 0.2px;

$font-weight: 400;
$font-weight-bold: 700;

$serra-font: (
    font-family: $serra-default-font-family,
    font-size: 14px,
    font-weight: $font-weight,
    letter-spacing: 0.2px,
    line-height: 1.43,
    font-weight-bold: $font-weight-bold,
    font-stretch: normal,
    font-style: normal
);

$serra-h1-font: (
    font-size: 34px,
    letter-spacing: $serra-letter-spacing,
    line-height: 1.21,
    font-weight: $font-weight
);

$serra-h2-font: (
    font-size: 28px,
    letter-spacing: $serra-letter-spacing,
    line-height: 1.46,
    font-weight: $font-weight
);

$serra-h3-font: (
    font-size: 24px,
    letter-spacing: $serra-letter-spacing,
    line-height: 1.33,
    font-weight: $font-weight-bold
);
$serra-h4-font: (
    font-size: 21px,
    letter-spacing: $serra-letter-spacing,
    line-height: 1.33,
    font-weight: $font-weight-bold
);
$serra-h5-font: (
    font-size: 18px,
    letter-spacing: $serra-letter-spacing,
    line-height: 1.22,
    font-weight: $font-weight
);
$serra-h6-font: (
    font-size: 16px,
    letter-spacing: $serra-letter-spacing,
    line-height: 1.25,
    font-weight: $font-weight
);

$serra-body1-font: $serra-font;

$serra-body2-font: (
    font-family: $serra-default-font-family,
    font-size: 12px,
    font-weight: $font-weight,
    letter-spacing: 0.2px,
    line-height: 1.33,
    font-weight-bold: $font-weight-bold,
    font-stretch: normal,
    font-style: normal
);

$serra-form-label-font: (
    font-size: 16px,
    letter-spacing: $serra-letter-spacing,
    line-height: 1.5,
    font-weight: $font-weight
);

$serra-graph-label-font: (
    font-size: 11px,
    letter-spacing: $serra-letter-spacing,
    line-height: normal,
    font-weight: $font-weight
);


