$icomoon-font-family: "serrala" !default;

$se-sera-bot-active: "\e947";
$se-zoom-in: "\e948";
$se-zoom-out: "\e949";
$se-add: "\e901";
$se-add-circle: "\e900";
$se-alert-circle: "\e902";
$se-alert-triangle: "\e903";
$se-alert-triangle-fill: "\e93e";
$se-arrow-back: "\e904";
$se-arrow-downward: "\e905";
$se-arrow-drop-down: "\e906";
$se-arrow-drop-up: "\e907";
$se-arrow-forward: "\e908";
$se-arrow-left: "\e909";
$se-arrow-right: "\e90a";
$se-arrow-upward: "\e90b";
$se-bookmark: "\e90c";
$se-bulk-actions: "\e90d";
$se-calendar: "\e90e";
$se-call: "\e90f";
$se-cancel: "\e910";
$se-chat: "\e911";
$se-check: "\e913";
$se-check-circle: "\e912";
$se-check-circle-fill: "\e93f";
$se-checkbox-filled: "\e914";
$se-checkbox-intermediate: "\e915";
$se-checkbox-outline: "\e916";
$se-chevron-down: "\e917";
$se-chevron-left: "\e918";
$se-chevron-right: "\e919";
$se-chevron-up: "\e91a";
$se-close: "\e91b";
$se-collapse-table: "\e91c";
$se-control-panel: "\e91d";
$se-copy: "\e91e";
$se-delete: "\e91f";
$se-download: "\e920";
$se-drag-indicator: "\e921";
$se-edit: "\e922";
$se-expand-panel: "\e942";
$se-expand-table: "\e923";
$se-filter: "\e924";
$se-groupby: "\e925";
$se-help: "\e926";
$se-home: "\e927";
$se-info-circle: "\e928";
$se-info-circle-fill: "\e940";
$se-log-out: "\e929";
$se-maximize: "\e941";
$se-mic: "\e943";
$se-more-hori: "\e92a";
$se-more-vert: "\e92b";
$se-my-tasks: "\e92c";
$se-notifications: "\e92d";
$se-overview: "\e92e";
$se-pin-off: "\e92f";
$se-pinned: "\e930";
$se-radio-checked: "\e931";
$se-radio-unchecked: "\e932";
$se-remove: "\e934";
$se-remove-circle-outline: "\e933";
$se-reports: "\e935";
$se-search: "\e936";
$se-send: "\e944";
$se-serra: "\e937";
$se-share: "\e945";
$se-time: "\e946";
$se-unfold-less: "\e938";
$se-unfold-more: "\e939";
$se-view: "\e93c";
$se-view-columns: "\e93a";
$se-view-off: "\e93b";
$se-worklist: "\e93d";
$se-Export: "\e94a";
$se-Print: "\e94b";
$se-unlink: "\e94c";
$se-link: "\e94d";
$se-account_statement: "\e94e";

